# Ambientes virtuais (se você usou venv)
venv/
.venv/
env/

# Arquivos temporários do Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Configurações de editores
.vscode/
.idea/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db